.img {
  position: relative;
  min-width: 100%;
  min-height: 100%;

}
.movieImg {
  position: absolute;
  top: 240px;
  left: 470px;
}
.title {
  color: white;
}

.description {
  color: white;
  font-weight: 500;
}
.movieDescription {
  position: absolute;
  top: 200px;
  left: 750px;
  width: 37%;
}

@media screen and (max-width: 1090px) {
  .img {
    width: 160%;
  }
  .movieImg {
    left: 165px;
    top: 30px;
    width: 30%;
  }
}
